@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body{ background-color: lightpink ;}
.logo img {height:1cm; width:1cm; padding-right:3px;

          }
 .logo {
         display: flex;
         align-items:center;
         font-weight: bolder;
       }

*{ margin: 0;
   padding: 0;
 }

 nav{
    font-family:oswald;
    }

nav ul{display:flex;
       list-style-type: none;
       background-color: azure;
       align-items: center;
        }
nav ul li{ padding-left:10px ;

        }
.contain{
           min-height:70vh;
           background-color: black;
           color: aliceblue;
           display: flex;
           margin: 25px 100px;
           background-image: url(musics\ logo.jpg);
           background-repeat: no-repeat;
           margin-left: 5cm;
           border-radius:20px;
           


}



.bottom{
        position: sticky;
        height:120px;
        background-color:black;
        bottom:0;
        display: flex;
        align-items: center;
        justify-content: center;
        color:aliceblue;
        flex-direction: column;      
}

.fonts i{
        padding:0px 10px;
        cursor: pointer;
}
#ankit{
        width:150vh;
        margin-left:0cm;
        color: blue;
        cursor: pointer;
        
}

.songlist img{
           height:40px;
           width: auto;
           display: flex;
           border-radius: 50%;
           margin-left: 5cm;
}
.songlist span{
        display: flex;
        border: 3px solid white;
        border-radius:30px;
        margin-top: 5px;
        margin-left: 5cm;
        height:1.5cm;
        align-items: center;
        justify-content: left;
        
        
}
.songlist span p{
        font-size: 20px;
}
.timestamp{border-radius: 0px;}

.timestamp i{
        cursor: pointer;
}

.songgraphics img{
        max-width:3cm;
        height: auto;
        position: absolute;
        left: 10vh;
        border-radius:30px;
}